$font: "Open Sans", sans-serif;

$main-color: #000000;
$primary: #666;
$secondary: #9da2ae;

$accent-color: #EB5757;
$accent-variant: rgba(141, 190, 80, 0.5);

$white: #FFFFFF;

$shadowBlocks: 0px 6px 20px rgba(140, 147, 162, 0.1);

$background: #f7f7f7;

$trs: .3s ease-in-out;
